*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-position: 10% 100%;
    background-size: cover;
    background-image: url(image/forest.jpg);
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:20px ;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#logo{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logopic{
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#textlogo{
    font-size: 20px;
    margin-left: 10px;
}

#navcontent{
    display: flex;
    gap: 40px;
    
}
#navcontent a{
    text-decoration: none;
}

#navcontent p{
    color: #fff;
}

#searchbar{
    height: 30px;
    width: 300px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;
    border-radius: 30px;
    border: 2px solid white;
    opacity: 80%;
}

#search-bar {
    padding: 6px;
    background-color: white;
    opacity: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    width: 200px; 
}


.search-icon {
    position: absolute;
    top: 23px;
    right: 30px;
    /* transform: translateY(-50%); */
    cursor: pointer;
}

#main{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text #boldtext{
    font-weight: 400;
    font-size: 100px;
    color: white;
}

#boldtext p span{
    font-weight: 900;
    opacity: 70%;
}

#discription{
    margin-top: 15px;
    color: white;
    font-size: 25px;
    font-weight: 500px;
}

#dots{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#dots i{
    margin: 20px 20px;
    font-size: 25px;
}

#line{
    margin: 20px;
}

#footer{
    margin-left: 25px;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
}

#footer #ele{
    justify-content: space-between;
    display: flex;
}

#footer #translink{
    padding: 10px;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#translink #transicon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#transicon i{
    margin:7px;
}

#footer button{
    background-color: transparent;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid white;
}


#footer #btn{
    color: white;
    padding: 10px;
}

#btn p{
    font-size: 15px;
    font-weight: 900;
    margin: 0px 20px 0px 20px;
}